body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  text-align: center;
}

/* HEADER SECTION */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0px;
  z-index: 5;
  background-color: black;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img {
  height: 50px;
  padding: 10px;
}
.top-nav {
  color: white;
  text-decoration: underline;
}
nav {
  margin-right: 15px;
}
nav span {
  padding: 20px 10px;
}
/* HEADER SECTION ENDS */

/* MISSION DIVS SECTION BEGINS */
h2,
h4 {
  color: white;
}
.mission-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 61px;
}
.mission-image {
  display: flex;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  flex-basis: 1200px;
  height: 700px;
}
.mission-child {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 1200px;
}
.mission-child h2, h4 {
  margin: 8px 0px;
}
/* MISSION DIVS SECTION ENDS */

/* STORE ITEMS SECTION BEGINS */
.store-list {
  position: relative;
  padding-top: 70px;
  width: 1000px;
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.items-child {
  display: flex;
  flex-direction: column;
}
.items-child img {
  height: 200px;
  width: 300px;
  margin: 10px;
}
.items-child span {
  padding: 10px;
}
.center {
  display: flex;
  justify-content: center;
}
/* STORE ITEMS SECTION ENDS */

/* LOCATIONS SECTION BEGINS */
#loc-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.loc-container {
  height: 500px;
  width: 1200px;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loc-back {
  display: flex;
  justify-content: center;
}
.loc-items {
  width: 300px;
  opacity: 1;
  margin: 20px 15px;
  background-color: black;
}
.loc-container h2 {
  margin: 15px 0px;
}
p {
  padding: 10px;
}
/* LOCATIONS SECTION ENDS */

/* FOOTER BEGINS */
.contact {
  height: 200px;
}
#copyright {
  text-align: left;
  margin-left: 20px;
}
/* FOOTER ENDS */
